Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

refactor total scripts and composers
  .scripts/bench.sh
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
  .scripts/fmt.sh
  .scripts/profile.sh
  .scripts/run.sh
  .scripts/test.sh
  ci/docker/container.go
  ci/docker/image.go
  ci/docker/volume.go
  ci/foobar
  ci/session.go
  ci/step/job.go
  docker-compose-go.yml
  docker-compose2.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

waterfall idea of nested step.Interface
  ci/graph/graph.go
  ci/session.go
  ci/step/job.go
  ci/tools/git.go
  ci/tools/sum.go
Owners: @agurinov

fix issue with separate context
  ci/docker/container.go
  ci/docker/image.go
  ci/docker/tools.go
  ci/flow.go
  ci/git/repo.go
  ci/main.go
  ci/session.go
  ci/step/job.go
  ci/step/tools.go
  ci/store.go
Owners: @agurinov

gix logging
  ci/docker/container.go
  ci/foobar
  ci/step/job.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch

create ste universal runner and make session step.Interface
  ci/docker/container.go
  ci/foobar
  ci/foobar2
  ci/graph/graph.go
  ci/session.go
  ci/session_test.go
  ci/step/job.go
  ci/step/main.go
  ci/step/tools.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch

test node build config
  bmpjs/bmp-core/foobar
Owners: @yollov, @agurinov, @takesfive, @alex-misch

session’s garbage
  ci/session.go
Owners: @agurinov

create mounts utility
  ci/docker/container.go
  ci/docker/tools.go
Owners: @agurinov

fix scripts
  .scripts/build.sh
  .scripts/run.sh
  tools/executor/concurrent.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

CI initial commit
  base/docker-compose.yml
  base/foobar
  bmpjs/bmp-core/foobar
  bmpjs/bmp-router/foobar
  bmpjs/bundler/foobar
  ci/.scripts/bench.sh
  ci/.scripts/build.sh
  ci/.scripts/docker-entrypoint.sh
  ci/.scripts/fmt.sh
  ci/.scripts/profile.sh
  ci/.scripts/run.sh
  ci/.scripts/test.sh
  ci/docker-compose.yml
  ci/docker/client.go
  ci/docker/container.go
  ci/docker/image.go
  ci/docker/volume.go
  ci/foobar
  ci/foobar-future
  ci/git/repo.go
  ci/git/tools.go
  ci/graph/graph.go
  ci/graph/graph_test.go
  ci/graph/node.go
  ci/graph/tools.go
  ci/graph/tools_test.go
  ci/main.go
  ci/session.go
  ci/session_test.go
  ci/store.go
  ci/types/flow.go
  ci/types/group.go
  ci/types/job.go
  ci/types/parallel.go
  ci/types/step.go
  docker-compose2.yml
  playground/foobar
Owners: @yollov, @agurinov, @takesfive, @alex-misch

move executor under top tools
  base/pipeline/tools.go
  base/server/application/main.go
  ci/step/parallel.go
  tools/executor/concurrent.go
  tools/executor/concurrent_test.go
  tools/executor/executor.go
  tools/executor/executor_test.go
  tools/executor/main.go
  tools/executor/operation.go
  tools/executor/operation_test.go
  tools/executor/sync.go
Owners: @agurinov

mount object
  ci/foobar
  ci/foobar-future
  ci/git/repo.go
  ci/git/tools.go
  ci/session.go
  ci/step/job.go
  ci/step/tools.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

create logger
  base/foobar
  bmpjs/bmp-core/foobar
  ci/docker/container.go
  ci/docker/image.go
  ci/foobar
  ci/session.go
  ci/step/job.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix real mount path (in case of real fs)
  ci/docker/container.go
  ci/docker/tools.go
Owners: @agurinov

rm deps
  bmpjs/bmp-core/foobar
  bmpjs/bmp-router/foobar
  bmpjs/bundler/foobar
  ci/docker/container.go
  ci/graph/graph.go
  ci/session_test.go
  ci/step/group.go
  ci/step/job.go
  ci/step/parallel.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

nested context
  ci/graph/graph.go
  ci/session.go
  ci/step/job.go
Owners: @agurinov

types package refactor -> step
  ci/flow.go
  ci/graph/graph.go
  ci/graph/node.go
  ci/session.go
  ci/step/group.go
  ci/step/job.go
  ci/step/parallel.go
  ci/step/step.go
Owners: @agurinov

add cli
  .scripts/build.sh
  ci/cli/actions.go
  ci/cli/log.go
  ci/cli/main.go
  ci/docker/image.go
  ci/main.go
  ci/session/session.go
  ci/session/session_test.go
  ci/session_test.go
  ci/step/parallel.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

new tool for calculating workdir
  bmpjs/bmp-core/foobar
  ci/session.go
  ci/step/job.go
  ci/step/main.go
  ci/tools/path.go
  ci/tools/path_test.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

some useful features
  ci/docker/container.go
  ci/foobar-future
  ci/session.go
  ci/step/job.go
  ci/step/tools.go
  ci/tools/git.go
  ci/tools/path.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch

feat(observe): add partial array observer support
  bmpjs/bmp-core/src/shared/proxy-observe.js
Owners: @takesfive, @alex-misch, @yollov

test new enviroment on playground project
  bmpjs/bmp-router/package.json
  bmpjs/bmp-router/src/components/bmp-router/bmp-router.js
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/serve.mjs
  bmpjs/bundler/utils/logger.mjs
  bmpjs/playground/src/app.js
  bmpjs/project/build.mjs
  bmpjs/project/install.mjs
  bmpjs/project/package.json
  bmpjs/project/src/app.js
  bmpjs/project/src/pages/about/about.component.js
  bmpjs/project/src/pages/about/about.css.js
  bmpjs/project/src/pages/home/home.component.js
  bmpjs/project/src/pages/home/home.css.js
  bmpjs/project/src/pages/home/widgets/search-flights/search-flights.component.js
  bmpjs/project/src/pages/home/widgets/search-flights/search-flights.css.js
  bmpjs/project/src/pages/home/widgets/suggested-pages/search-pages.component.js
  bmpjs/project/src/pages/home/widgets/suggested-pages/search-pages.css.js
  bmpjs/project/src/pages/home/widgets/suggested-routes/suggested-routes.component.js
  bmpjs/project/src/pages/home/widgets/suggested-routes/suggested-routes.css.js
  bmpjs/project/src/router.js
  bmpjs/project/src/template/footer.js
  bmpjs/project/src/template/header.js
  bmpjs/project/src/template/topnav.js
  bmpjs/project/src/theme/index.js
  bmpjs/project/src/theme/jetsmarter/_theme.js
  bmpjs/project/src/theme/jetsmarter/colors.js
  bmpjs/project/src/theme/jetsmarter/elements.js
  bmpjs/project/src/theme/jetsmarter/grid.js
  bmpjs/project/src/theme/jetsmarter/icons.js
  bmpjs/project/src/widgets/selectbox/jetsm-selectbox.css.js
  bmpjs/project/src/widgets/selectbox/jetsm-selectbox.js
  docker-compose.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(server-side-render): alpha version of ssr
  ssr-bmpjs/.editorconfig
  ssr-bmpjs/.gitignore
  ssr-bmpjs/Dockerfile
  ssr-bmpjs/README.md
  ssr-bmpjs/bmp-remote-script/index.mjs
  ssr-bmpjs/bmp-remoute-script/index.mjs
  ssr-bmpjs/bmp-render/index.mjs
  ssr-bmpjs/bmp-sitemap/index.mjs
  ssr-bmpjs/docker-compose.yml
  ssr-bmpjs/example.yml
  ssr-bmpjs/external/app.js
  ssr-bmpjs/external/bmp-core.js
  ssr-bmpjs/external/bmp-router.js
  ssr-bmpjs/external/home-component.js
  ssr-bmpjs/external/utils.js
  ssr-bmpjs/index.mjs
  ssr-bmpjs/mocks/custom-elements.mjs
  ssr-bmpjs/mocks/dom-exception.mjs
  ssr-bmpjs/mocks/element.mjs
  ssr-bmpjs/mocks/html-document.mjs
  ssr-bmpjs/mocks/html-element.mjs
  ssr-bmpjs/mocks/index.mjs
  ssr-bmpjs/package.json
  ssr-bmpjs/project/config.js-com-v5.mjs
  ssr-bmpjs/project/config.mjs
  ssr-bmpjs/project/html-error.mjs
  ssr-bmpjs/project/meta-tags.mjs
  ssr-bmpjs/project/view-compiler.mjs
  ssr-bmpjs/render.mjs
  ssr-bmpjs/sitemap.mjs
  ssr-bmpjs/sitemap.xml
  ssr-bmpjs/utils/path-parser.mjs
  ssr-bmpjs/utils/path-unifier.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

update bundler logs
  bmpjs/bundler/serve.mjs
  bmpjs/project/package.json
Owners: @takesfive, @alex-misch, @yollov, @agurinov

add transaction, executor and some other layers and types
  tools/executor/concurrent.go
  tools/executor/concurrent_test.go
  tools/executor/executor.go
  tools/executor/executor_test.go
  tools/executor/func.go
  tools/executor/group.go
  tools/executor/operation.go
  tools/executor/operation_test.go
  tools/executor/parallel.go
  tools/executor/sync.go
  tools/executor/synchronous.go
  tools/executor/transaction.go
Owners: @agurinov

rm pattql package (move to tools)
  base/conf/main.go
  base/pattql/main.go
  base/pattql/main_test.go
  base/pattql/tools.go
  base/pattql/tools_bench_test.go
  base/pattql/tools_test.go
Owners: @agurinov

#14 fix tests
  base/tools/poller/common_test.go
  base/tools/poller/epoll_test.go
Owners: @agurinov

fix commenting
  base/pipeline/tools.go
Owners: @agurinov

add transaction type with tests
  tools/flow/dummy.go
  tools/flow/main.go
  tools/flow/transaction.go
  tools/flow/transaction_test.go
Owners: @agurinov

some fixes
  base/conf/router.go
  base/pipeline/pipeline.go
  base/pipeline/tools.go
  base/server/application/http.go
  base/server/dispatcher/worker.go
  base/server/task.go
Owners: @agurinov

add todo for microservice load
  docker-compose-go.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

#13 some little refactor and first steps to final TODOs
  base/tools/poller/heap.go
Owners: @agurinov

#16, #19 some thoughts
  base/server/step.go
Owners: @agurinov

#13 move all caveats under PollWait with inner goroutine and lock
  base/tools/poller/heap.go
Owners: @agurinov

add testing for tools
  tools/flow/synchronous.go
  tools/flow/synchronous_test.go
  tools/flow/tools.go
  tools/flow/tools_test.go
Owners: @agurinov

rm old one package (will be refactored to flow package)
  tools/executor/concurrent.go
  tools/executor/concurrent_test.go
  tools/executor/executor.go
  tools/executor/executor_test.go
  tools/executor/func.go
  tools/executor/group.go
  tools/executor/main.go
  tools/executor/parallel.go
  tools/executor/synchronous.go
  tools/executor/transaction.go
Owners: @agurinov

add useful comments
  tools/router/ql/bracket.go
Owners: @agurinov

add required errors to app layer
  base/server/application/main.go
Owners: @agurinov

base/conf: TMP status
  base/conf/main.go
  base/conf/main_test.go
  base/conf/router.go
  base/conf/tools.go
  base/server/application/main.go
Owners: @agurinov

#13 fix deadlock
  base/tools/poller/heap.go
Owners: @agurinov

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov
