Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov

tools/flow: asynchronous new struct with more controlled behavior
  tools/flow/asynchronous.go
  tools/flow/asynchronous2.go
  tools/flow/asynchronous_test.go
  tools/flow/delay.go
  tools/flow/dispatcher.go
Owners: @agurinov

fix lint
  bmpjs/ssr/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

introduce new feature: tools/kvs
  tools/kvs/main.go
  tools/kvs/namespace.go
Owners: @agurinov

add new layer type: plugin
  .scripts/build-bin.sh
  .scripts/build-plugin.sh
  .scripts/build.sh
  base/pipeline/pipeline.go
  base/pipeline/plugin.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

base: add todo for stack (now it is unusable)
  base/tools/log.go
Owners: @agurinov

tools/kvs: separate db and namespaces
  tools/kvs/main.go
  tools/kvs/main_test.go
  tools/kvs/namespace.go
Owners: @agurinov

little refactoring to run ms in docker entrypoint
  .scripts/docker-entrypoint.sh
  .scripts/run-go.sh
  .scripts/run-node.sh
  docker-compose-go.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

tmp builder
  .scripts/build.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

flow: new kind of async tools (not tested, but looks good)
  tools/flow/asynchronous2.go
  tools/flow/concurrent.go
Owners: @agurinov

tools/kvs: todo via tests
  tools/kvs/main_test.go
Owners: @agurinov

base/http: add ability to add custom headers
  base/pipeline/main.go
  base/pipeline/stdio.go
  base/pipeline/tcp.go
  base/server/application/http.go
  bmpjs/ssr/main.go
Owners: @agurinov

feat(ssr): alpha version 2
  .circleci/config.yml
  .scripts/run-node.sh
  bmpjs/docker-compose.yml
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/adapters/html/widgets.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/classes/virtual-machine.mjs
  bmpjs/ssr/core/interfaces/html-adapter.mjs
  bmpjs/ssr/core/render.mjs
  bmpjs/ssr/core/view-compiler.mjs
  bmpjs/ssr/mocks/bmp-router.mjs
  bmpjs/ssr/mocks/custom-elements.mjs
  bmpjs/ssr/mocks/element.mjs
  bmpjs/ssr/mocks/html5.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/render.mjs
  bmpjs/ssr/utils/html.mjs
  bmpjs/ssr/virtual-dom/bmp-core.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

wrap error for debugging
  bmpjs/ssr/main.go
Owners: @agurinov

base/pipeline: additional logging
  base/pipeline/process.go
Owners: @agurinov

base/tools: add ShellSplit function for useful splitting raw into words
  base/pipeline/process.go
  base/tools/exec.go
  base/tools/exec_test.go
Owners: @agurinov

Update main.workflow
  .github/main.workflow
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update README.md
  README.md
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Delete main.workflow
  .github/main.workflow
Owners: @yollov, @agurinov, @takesfive, @alex-misch

tools/router: fix issue with leading slash not included in first group
  tools/router/main_test.go
  tools/router/ql/main.go
  tools/router/ql/main_test.go
Owners: @agurinov

fix tests for conf and CLISplit (case with backticks)
  base/conf/main_test.go
  base/tools/exec_test.go
Owners: @agurinov

add fixs and comments
  base/pipeline/tools.go
  base/server/application/http.go
  base/server/application/main.go
Owners: @agurinov

more clean
  base/server/application/main.go
Owners: @agurinov

base/tools/cli: fix tests, add ability to escape and quotes
  base/pipeline/process.go
  base/tools/exec.go
  base/tools/exec_test.go
Owners: @agurinov

one more test
  tools/router/main_test.go
Owners: @agurinov

tools/router/ql: simplify regex logic
  tools/router/main_test.go
  tools/router/ql/main.go
  tools/router/ql/main_test.go
Owners: @agurinov

todo for benchmarks
  .scripts/bench.sh
  base/tools/exec_bench_test.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fixes for release new base version
  base/server/application/http.go
  base/server/application/main.go
  tools/kvs/main_test.go
Owners: @agurinov

tools/flow: deal with context cancellation
  tools/flow/asynchronous.go
  tools/flow/main.go
Owners: @agurinov

feat(ssr): add render in shell and try to fix core
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/custom-elements.mjs
  bmpjs/ssr/dom/dom-exception.mjs
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/dom/navigator.mjs
  bmpjs/ssr/dom/nodes.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/package.json
  bmpjs/ssr/utils/html.mjs
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): add calling referece function of VirtualDOM
  bmpjs/ssr/adapters/html/virtual-dom.mjs
Owners: @takesfive, @alex-misch, @yollov

fix(ssr): add production APP url to router.yml
  .gitignore
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): mock innerHTML and outerHTML getters & comments of code
  bmpjs/docker-compose.yml
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/classes/virtual-machine.mjs
  bmpjs/ssr/core/interfaces/html-adapter.mjs
  bmpjs/ssr/mocks/element.mjs
  bmpjs/ssr/mocks/html-document.mjs
  bmpjs/ssr/mocks/html-element.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/package.json
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/arguments.mjs
  bmpjs/ssr/utils/path-parser.mjs
  bmpjs/ssr/utils/path-unifier.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): beta version 1
  .circleci/config.yml
  .gitignore
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/arguments.mjs
  bmpjs/ssr/utils/file.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr):
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/mocks/element.mjs
  bmpjs/ssr/mocks/html5.mjs
  bmpjs/ssr/mocks/nodes.mjs
  bmpjs/ssr/utils/html.mjs
Owners: @takesfive, @alex-misch, @yollov

feat(ssr): beta version 1 of server-side rendering. NEED TO FIX APP ARCH BUGS
  base/pipeline/process.go
  bmpjs/bundler/Dockerfile
  bmpjs/docker-compose.yml
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/interfaces/html-adapter.mjs
  bmpjs/ssr/mocks/bmp-router.mjs
  bmpjs/ssr/mocks/custom-elements.mjs
  bmpjs/ssr/mocks/element.mjs
  bmpjs/ssr/mocks/html-document.mjs
  bmpjs/ssr/mocks/html-element.mjs
  bmpjs/ssr/mocks/html5.mjs
  bmpjs/ssr/package.json
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/arguments.mjs
  bmpjs/ssr/utils/file.mjs
  bmpjs/ssr/utils/html.mjs
  bmpjs/ssr/virtual-dom/app.js
  bmpjs/ssr/virtual-dom/bmp-css.mjs
  bmpjs/ssr/virtual-dom/home-component.js
  bmpjs/ssr/virtual-dom/utils.js
  docker-compose-go.yml
Owners: @agurinov, @yollov, @takesfive, @alex-misch

Update README.md
  README.md
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update router.yml
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch
