Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov

fix(ssr): caching logic
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/file.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update router.yml
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): support metatags in shell
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
  bmpjs/ssr/__tests__/adapters/virtual-dom.mjs
  bmpjs/ssr/__tests__/core/remote-app.mjs
  bmpjs/ssr/__tests__/core/virtual-machine.mjs
  bmpjs/ssr/__tests__/dom/custom-elements.mjs
  bmpjs/ssr/__tests__/dom/elements.mjs
  bmpjs/ssr/__tests__/dom/html5.mjs
  bmpjs/ssr/__tests__/dom/navigator.mjs
  bmpjs/ssr/__tests__/utils/arguments.mjs
  bmpjs/ssr/__tests__/utils/file.mjs
  bmpjs/ssr/__tests__/utils/html.mjs
  bmpjs/ssr/__tests__/utils/uri.mjs
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): remove console.error
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/dom/html5.mjs
Owners: @takesfive, @alex-misch, @yollov

oops dockerignore is going to trash
  bmpjs/ssr/.dockerignore
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): sitemap works now!
  bmpjs/ssr/.dockerignore
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/sitemap.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): declarate MutationObserver
  base/server/application/http.go
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/drivers/html/virtual-dom.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
Owners: @agurinov, @takesfive, @alex-misch, @yollov

feat(ssr): tests for sitemap, customElements, VDdriver, utils
  bmpjs/ssr/__tests__/adapters/virtual-dom.mjs
  bmpjs/ssr/__tests__/core/remote-app.js
  bmpjs/ssr/__tests__/core/virtual-machine.js
  bmpjs/ssr/__tests__/core/virtual-machine.mjs
  bmpjs/ssr/__tests__/drivers/virtual-dom/create-element.js
  bmpjs/ssr/__tests__/drivers/virtual-dom/render.js
  bmpjs/ssr/__tests__/drivers/virtual-dom/vd-to-html.js
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/interfaces/html-adapter.mjs
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/coverage-final.json
  bmpjs/ssr/coverage/lcov-report/adapters/html/index.html
  bmpjs/ssr/coverage/lcov-report/adapters/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/base.css
  bmpjs/ssr/coverage/lcov-report/block-navigation.js
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/interfaces/html-adapter.mjs.html
  bmpjs/ssr/coverage/lcov-report/core/interfaces/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/prettify.css
  bmpjs/ssr/coverage/lcov-report/prettify.js
  bmpjs/ssr/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/ssr/coverage/lcov-report/sorter.js
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/coverage/lcov.info
  bmpjs/ssr/drivers/html/virtual-dom.mjs
  bmpjs/ssr/drivers/html/widgets.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/package.json
  bmpjs/ssr/render.mjs
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): add tests to job
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): some tests
  .circleci/config.yml
  bmpjs/router/coverage/clover.xml
  bmpjs/router/coverage/coverage-final.json
  bmpjs/router/coverage/lcov-report/base.css
  bmpjs/router/coverage/lcov-report/index.html
  bmpjs/router/coverage/lcov-report/prettify.css
  bmpjs/router/coverage/lcov-report/prettify.js
  bmpjs/router/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/router/coverage/lcov-report/sorter.js
  bmpjs/router/coverage/lcov.info
  bmpjs/ssr/__tests__/core/remote-app.js
  bmpjs/ssr/__tests__/core/sitemap-generator.js
  bmpjs/ssr/__tests__/core/virtual-machine.mjs
  bmpjs/ssr/__tests__/dom/custom-elements.js
  bmpjs/ssr/__tests__/dom/custom-elements.mjs
  bmpjs/ssr/__tests__/dom/elements.mjs
  bmpjs/ssr/__tests__/dom/html5.mjs
  bmpjs/ssr/__tests__/dom/navigator.mjs
  bmpjs/ssr/__tests__/utils/arguments.mjs
  bmpjs/ssr/__tests__/utils/file.mjs
  bmpjs/ssr/__tests__/utils/html.js
  bmpjs/ssr/__tests__/utils/html.mjs
  bmpjs/ssr/__tests__/utils/uri.js
  bmpjs/ssr/__tests__/utils/uri.mjs
  bmpjs/ssr/core/sitemap-generator.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): tests coverage
  bmpjs/ssr/__tests__/dom/custom-elements.js
  bmpjs/ssr/__tests__/drivers/virtual-dom/create-element.js
  bmpjs/ssr/__tests__/drivers/virtual-dom/render.js
  bmpjs/ssr/__tests__/utils/html.js
  bmpjs/ssr/__tests__/utils/uri.js
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/coverage-final.json
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/coverage/lcov.info
  bmpjs/ssr/drivers/html/virtual-dom.mjs
  bmpjs/ssr/utils/html.mjs
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): rename test job
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(gitignire): move coverage to gitignore
  .gitignore
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(base): revert code back
  .gitignore
  base/server/application/http.go
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): change entrypoint
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(ssr): optimize app
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/drivers/html/virtual-dom.mjs
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/timeline.mjs
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(router): set origin hardcode (temporary)
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/router.yml
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(optimize): main page load in 200-250ms now
  bmpjs/ssr/__tests__/drivers/virtual-dom/render.js
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/classes/virtual-machine.mjs
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/coverage-final.json
  bmpjs/ssr/coverage/lcov-report/base.css
  bmpjs/ssr/coverage/lcov-report/block-navigation.js
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/prettify.css
  bmpjs/ssr/coverage/lcov-report/prettify.js
  bmpjs/ssr/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/ssr/coverage/lcov-report/sorter.js
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/timeline.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/coverage/lcov.info
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/drivers/html/virtual-dom.mjs
  bmpjs/ssr/render.mjs
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): rm serve static data & fix origin & remove back logger to client code
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/router.yml
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): rm coverage
  .gitignore
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/coverage-final.json
  bmpjs/ssr/coverage/lcov-report/adapters/html/index.html
  bmpjs/ssr/coverage/lcov-report/adapters/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/base.css
  bmpjs/ssr/coverage/lcov-report/block-navigation.js
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/interfaces/html-adapter.mjs.html
  bmpjs/ssr/coverage/lcov-report/core/interfaces/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/prettify.css
  bmpjs/ssr/coverage/lcov-report/prettify.js
  bmpjs/ssr/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/ssr/coverage/lcov-report/sorter.js
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/coverage/lcov.info
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): rm coverage
  .gitignore
  bmpjs/ssr/coverage/clover.xml
  bmpjs/ssr/coverage/coverage-final.json
  bmpjs/ssr/coverage/lcov-report/base.css
  bmpjs/ssr/coverage/lcov-report/block-navigation.js
  bmpjs/ssr/coverage/lcov-report/core/index.html
  bmpjs/ssr/coverage/lcov-report/core/sitemap-generator.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/custom-elements.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-document.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/html-element.mjs.html
  bmpjs/ssr/coverage/lcov-report/dom/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/index.html
  bmpjs/ssr/coverage/lcov-report/drivers/html/virtual-dom.mjs.html
  bmpjs/ssr/coverage/lcov-report/index.html
  bmpjs/ssr/coverage/lcov-report/prettify.css
  bmpjs/ssr/coverage/lcov-report/prettify.js
  bmpjs/ssr/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/ssr/coverage/lcov-report/sorter.js
  bmpjs/ssr/coverage/lcov-report/utils/html.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/index.html
  bmpjs/ssr/coverage/lcov-report/utils/timeline.mjs.html
  bmpjs/ssr/coverage/lcov-report/utils/uri.mjs.html
  bmpjs/ssr/coverage/lcov.info
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): add timestamp import
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/html5.mjs
Owners: @takesfive, @alex-misch, @yollov

add benchmarks for clisplit
  base/tools/exec_test_bench.go
Owners: @agurinov

refactor cli split and more tests
  base/pipeline/tools.go
  base/pipeline/tools_test.go
  base/tools/exec.go
  base/tools/exec_test.go
Owners: @agurinov

move render process under tool and tests
  base/pipeline/process.go
  base/pipeline/tools.go
  base/pipeline/tools_test.go
Owners: @agurinov

fix bench
  base/tools/exec_bench_test.go
Owners: @agurinov

fix benchmarks
  base/tools/exec_bench_test.go
  base/tools/exec_test_bench.go
Owners: @agurinov

fix typo in comment
  .scripts/docker-entrypoint.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

refactor cli split for interpolation
  base/tools/exec.go
  base/tools/exec_test.go
Owners: @agurinov

fix benchmarks
  base/tools/exec_bench_test.go
Owners: @agurinov

fix(ssr): remove trash
  base/server/application/http.go
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/router.yml
Owners: @agurinov, @takesfive, @alex-misch, @yollov

fix(logging): write to stderr when it closed
  base/server/application/http.go
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/router.yml
Owners: @agurinov, @takesfive, @alex-misch, @yollov

feat(dom): atob, btoa support. Add title getter of document
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/dom/html5.mjs
Owners: @takesfive, @alex-misch, @yollov
