Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov

add func as static Step wrapper
  tools/executor/func.go
  tools/executor/main.go
Owners: @agurinov

new replacer layer for router ql
  tools/router/ql/bracket.go
  tools/router/ql/bracket_test.go
  tools/router/ql/replacer.go
  tools/router/ql/replacer_test.go
Owners: @agurinov

fix run script
  .scripts/run.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

#15 add TODO
  base/server/transport/tcp.go
Owners: @agurinov

add key concepts for executor
  tools/executor/concurrent.go
  tools/executor/main.go
Owners: @agurinov

fix poller interface and implementations
  base/tools/poller/common_test.go
  base/tools/poller/epoll.go
  base/tools/poller/heap.go
  base/tools/poller/kqueue.go
  base/tools/poller/main.go
  base/tools/poller/mock.go
Owners: @agurinov

add todo to router
  tools/router/main.go
Owners: @agurinov

step prototype
  base/server/step.go
Owners: @agurinov

rm logs
  base/tools/poller/heap.go
Owners: @agurinov

add more tests for pipeline.New
  base/pipeline/pipeline.go
  base/pipeline/pipeline_test.go
Owners: @agurinov

#19 first steps to flow.Dispatcher
  base/server/dispatcher/dispatcher.go
  base/server/dispatcher/worker.go
  base/server/server.go
Owners: @agurinov

refactor bracket type, add fallback value and some useful features
  tools/router/ql/bracket.go
  tools/router/ql/bracket_test.go
  tools/router/ql/replacer.go
  tools/router/ql/replacer_test.go
Owners: @agurinov

refactor run script
  .scripts/run.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

todo
  base/server/server.go
Owners: @agurinov

add tests to group
  tools/flow/group.go
  tools/flow/group_test.go
Owners: @agurinov

fix syntax
  base/pipeline/stdio.go
Owners: @agurinov

refactor all the packages to use flow package
  base/pipeline/tcp.go
  base/pipeline/tools.go
  base/server/application/main.go
  ci/cli/actions.go
  ci/graph/graph.go
  ci/graph/node.go
  ci/session/session.go
  ci/step/group.go
  ci/step/job.go
  ci/step/main.go
  ci/step/parallel.go
  ci/step/step.go
  ci/step/tools.go
Owners: @agurinov

fix app layer
  base/server/application/http.go
Owners: @agurinov

add get query replacer
  tools/router/ql/replacer.go
  tools/router/ql/replacer_test.go
Owners: @agurinov

#16 first attemps
  base/server/dispatcher/dispatcher.go
  base/tools/poller/heap.go
  tools/flow/delay.go
  tools/flow/dispatcher.go
  tools/flow/dispatcher_test.go
Owners: @agurinov

little fixes
  tools/executor/group.go
  tools/executor/parallel.go
  tools/executor/transaction.go
Owners: @agurinov

tools/flow: add tool for converting to step
  base/pipeline/plugin.go
  tools/flow/tools.go
  tools/flow/tools_test.go
Owners: @agurinov

fix func string representation
  tools/flow/func.go
Owners: @agurinov

fix run-node script
  .scripts/run-node.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

little fixes
  base/pipeline/plugin.go
  base/pipeline/process.go
Owners: @agurinov

base: fix using db with new methods
  base/server/application/http.go
  base/server/application/main.go
Owners: @agurinov

deprecate tool
  base/tools/context.go
Owners: @agurinov

add useful common error
  tools/flow/main.go
Owners: @agurinov

tools/flow: fix typo
  tools/flow/main.go
Owners: @agurinov

little fixes for monorepo shell scripts
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
  docker-compose-go.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix naming
  bmpjs/ssr/main.go
  bmpjs/ssr/router.yml
Owners: @agurinov, @yollov, @takesfive, @alex-misch

tools/flow: fix locking
  tools/flow/asynchronous.go
  tools/flow/main.go
Owners: @agurinov

fix Wait feature using sync.Cond
  tools/kvs/namespace.go
Owners: @agurinov

intermediate step of application flow
  base/conf/router.go
  base/server/application/http.go
  base/server/application/main.go
  base/server/context/main.go
Owners: @agurinov

tools/kvs: add proxy methods for namespace
  tools/kvs/main.go
Owners: @agurinov

save more useful info to meta
  base/server/application/http.go
Owners: @agurinov

refactor scripts structure
  .scripts/build.sh
  .scripts/run-go.sh
  .scripts/run-node.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix application logic (moving to step interface)
  base/server/application/http.go
  base/server/application/json.go
  base/server/application/main.go
Owners: @agurinov

fix
  base/pipeline/plugin.go
Owners: @agurinov

fix race condition
  tools/flow/asynchronous.go
Owners: @agurinov
