Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

fix tests
  base/conf/main_test.go
  base/pipeline/tools.go
Owners: @agurinov

refactor naming
  tools/executor/group.go
  tools/executor/parallel.go
  tools/executor/synchronous.go
  tools/executor/transaction.go
Owners: @agurinov

process fixes
  base/pipeline/process.go
Owners: @agurinov

fix base variable names
  base/cli/main.go
  playground/foobar
Owners: @agurinov, @yollov, @takesfive, @alex-misch

make route attr public for umarshalling
  tools/router/main.go
  tools/router/main_test.go
Owners: @agurinov

#13 add some fixes and refactoring
  base/tools/poller/heap.go
Owners: @agurinov

#16 #19 initial state
  tools/flow/asynchronous.go
  tools/flow/asynchronous_test.go
  tools/flow/concurrent.go
  tools/flow/delay.go
  tools/flow/dispatcher.go
  tools/flow/dispatcher_test.go
  tools/flow/main.go
Owners: @agurinov

delete deprecated from pipeline
  base/pipeline/hook.go
  base/pipeline/http.go
Owners: @agurinov

#13 fix race
  base/server/server.go
  base/tools/poller/heap.go
Owners: @agurinov

fix issues with nil step in ci package
  ci/graph/graph.go
  ci/session/session.go
  tools/flow/main.go
  tools/flow/main_test.go
Owners: @agurinov

fix
  base/server/step.go
Owners: @agurinov

implement heap poller locker promitives
  base/tools/poller/epoll.go
  base/tools/poller/heap.go
  base/tools/poller/kqueue.go
  base/tools/poller/main.go
  base/tools/poller/sync.go
Owners: @agurinov

todo for application
  base/server/application/http2.go
  base/server/application/main2.go
Owners: @agurinov

#16 add points 2 and 3 (not tested)
  tools/flow/asynchronous.go
Owners: @agurinov

fix variables in script
  .scripts/run.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

rm unusable
  tools/router/ql/bracket.go
Owners: @agurinov

fix tests to be more elegant
  tools/flow/synchronous_test.go
Owners: @agurinov

fix app
  base/server/application/main.go
Owners: @agurinov

#13 some checkpoint
  base/tools/poller/heap.go
Owners: @agurinov

add some tests to tools
  tools/flow/asynchronous.go
  tools/flow/asynchronous_test.go
Owners: @agurinov

#13 make once.Do more atomic
  base/tools/poller/heap.go
  base/tools/sync.go
Owners: @agurinov

router add new feature capture params (resolve TODO)
  tools/router/main.go
  tools/router/tools.go
  tools/router/tools_test.go
Owners: @agurinov

add tests to func type
  tools/flow/func.go
  tools/flow/func_test.go
Owners: @agurinov

important todos
  base/server/dispatcher/dispatcher.go
  base/server/dispatcher/worker.go
  base/server/task.go
  base/server/transport/tcp.go
  base/tools/poller/heap.go
Owners: @agurinov

totally refactor to flow
  base/pipeline/tools.go
Owners: @agurinov

fix pipeline `run` tool
  base/pipeline/tools.go
Owners: @agurinov

(tools/flow): fix issues with nil steps
  tools/flow/asynchronous.go
  tools/flow/asynchronous_test.go
  tools/flow/main.go
  tools/flow/main_test.go
  tools/flow/synchronous.go
  tools/flow/synchronous_test.go
  tools/flow/tools.go
Owners: @agurinov

add concurrent type with tests
  tools/flow/asynchronous_test.go
  tools/flow/concurrent.go
  tools/flow/concurrent_test.go
Owners: @agurinov

add todos and help methods
  tools/flow/asynchronous.go
  tools/flow/transaction.go
Owners: @agurinov

introduce new router working in cooperation with flow
  tools/router/main.go
  tools/router/main_test.go
  tools/router/ql/bracket.go
  tools/router/ql/bracket_test.go
  tools/router/ql/main.go
  tools/router/ql/main_test.go
Owners: @agurinov

important fix. ?P for perl regex syntax
  tools/router/ql/main_test.go
  tools/router/ql/replacer.go
  tools/router/ql/replacer_test.go
Owners: @agurinov

#16, #19 some thoughts
  tools/flow/main.go
Owners: @agurinov

#13 make wainting flag for broadcasting across multiple .Pop()
  base/tools/poller/heap.go
  base/tools/sync.go
  docker-compose-go.yml
Owners: @agurinov, @yollov, @takesfive, @alex-misch

first attemps to refactor pipeline package
  base/pipeline/main.go
  base/pipeline/pipeline.go
  base/pipeline/pipeline_test.go
Owners: @agurinov

fix tests
  base/tools/poller/heap_test.go
Owners: @agurinov

todo for timeouts
  base/server/transport/tcp.go
Owners: @agurinov

add more tests to transaction type
  tools/flow/main.go
  tools/flow/transaction.go
  tools/flow/transaction_test.go
Owners: @agurinov

(tools/flow): add more tests
  tools/flow/concurrent_test.go
  tools/flow/dummy.go
  tools/flow/func.go
  tools/flow/group_test.go
Owners: @agurinov

#13 fix issue with faking .Poll with true locking
  base/tools/poller/heap.go
Owners: @agurinov

test params
  ci/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov
