Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update Dockerfile
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update router.yml
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): change local entrypoint to remote
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): add production flag to npm install
  .scripts/run-node.sh
  bmpjs/ssr/Dockerfile
  bmpjs/ssr/package-lock.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): remove console debug
  bmpjs/ssr/core/classes/virtual-machine.mjs
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/router.yml
  bmpjs/ssr/utils/file.mjs
  nodejs/enmark/index.mjs
  nodejs/enmark/package.json
  nodejs/reslo
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix router
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

tools/router/ql: fix issue with escaping
  tools/router/main_test.go
  tools/router/ql/bracket.go
  tools/router/ql/main.go
  tools/router/ql/main_test.go
Owners: @agurinov

add new arch supported (in plan)
  .gitignore
Owners: @yollov, @agurinov, @takesfive, @alex-misch

arch: move NODE used as cli name to compile time vars
  .scripts/build-bin.sh
  .scripts/build-plugin.sh
  base/cli/actions.go
  base/cli/main.go
  base/main.go
  base/server/application/http.go
  ci/cli/actions.go
  ci/cli/main.go
  ci/main.go
  tools/cli/log.go
Owners: @yollov, @agurinov, @takesfive, @alex-misch

(arch): fix scripts for the running service as they's directory is the root
  .scripts/run-go.sh
  .scripts/run-node.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

little restructurization for headers and pipeline
  base/pipeline/main.go
  base/pipeline/pipeline.go
  base/server/application/http.go
  bmpjs/ssr/main.go
Owners: @agurinov

fix build bin script (beginning of cross compiling)
  .scripts/build-bin.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

ci: dynamic ref in session
  ci/cli/actions.go
  ci/git/repo.go
  ci/github.sh
  ci/session/session.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch

docker fixes and todo for image pull
  ci/docker/container.go
  ci/docker/image.go
  ci/step/job.go
Owners: @agurinov

fix building scripts
  .scripts/build-bin.sh
  .scripts/build-plugin.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix
  ci/git/repo.go
Owners: @agurinov

fix scripts
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix script
  .scripts/run-go.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix building according to new scripts
  bmpjs/ssr/Dockerfile
Owners: @yollov, @agurinov, @takesfive, @alex-misch

testci
  base/cli/log.go
  base/conf/router.go
  base/foobar
  bmpjs/ssr/foobar
  ci/router.yml
  ci/step/job.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch

bmpjs/ssr: add flush endpoint
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

base/pipeline: plugin error wrapping
  base/pipeline/plugin.go
Owners: @agurinov

try to fix build script to be more static
  .scripts/build-bin.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix cli logging - create tools with common funcs and vars
  base/cli/actions.go
  base/cli/log.go
  base/cli/main.go
  ci/cli/actions.go
  ci/cli/log.go
  ci/cli/main.go
  ci/docker/container.go
  tools/cli/log.go
Owners: @agurinov

little useful fixes
  ci/github.sh
  ci/main.go
  ci/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix logging
  base/cli/log.go
  base/pipeline/process.go
  base/server/log.go
Owners: @agurinov

stderr + exit_code(0) = debug
  base/pipeline/process.go
Owners: @agurinov

fix server error loggging (now uuid in log for associating)
  base/server/application/main.go
  base/server/flow/main.go
  base/server/flow/request.go
  base/server/flow/stat.go
  base/server/log.go
  base/server/server.go
Owners: @agurinov

feat(ssr): Beta v3
  bmpjs/router/__tests__/utils/unifier.test.js
  bmpjs/ssr/adapters/html/virtual-dom.mjs
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/core/classes/virtual-machine.mjs
  bmpjs/ssr/core/sitemap-generator.mjs
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/package.json
  bmpjs/ssr/render.mjs
  bmpjs/ssr/router.yml
  bmpjs/ssr/sitemap.mjs
  bmpjs/ssr/utils/file.mjs
  bmpjs/ssr/utils/html.mjs
  bmpjs/ssr/utils/path-unifier.mjs
  bmpjs/ssr/utils/uri.mjs
  nodejs/enmark/index.mjs
  nodejs/enmark/package.json
  nodejs/reslo
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): remove baseURI and replace app url to pro
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/router.yml
Owners: @takesfive, @alex-misch, @yollov, @agurinov

fix(ssr): check status code from app
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/element.mjs
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/dom/html-element.mjs
  bmpjs/ssr/package-lock.json
  bmpjs/ssr/package.json
  bmpjs/ssr/router.yml
  bmpjs/ssr/sitemap.mjs
  bmpjs/ssr/sitemap.xml
Owners: @takesfive, @alex-misch, @yollov, @agurinov

Update router.yml
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update router.yml
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): baseURI of document & entrypoint url
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
  bmpjs/ssr/core/classes/remote-app.mjs
  bmpjs/ssr/dom/html-document.mjs
  bmpjs/ssr/dom/html5.mjs
  bmpjs/ssr/package.json
  bmpjs/ssr/router.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(ssr): revert base scripts
  .scripts/build.sh
  .scripts/docker-entrypoint.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch
