Repository alex-misch/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yollov, @agurinov, @takesfive, @alex-misch

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence.


* @yollov @agurinov @takesfive @alex-misch

*.mjs @takesfive @alex-misch @yollov
*.js @takesfive @alex-misch @yollov
*.rc @takesfive @alex-misch @yollov
*.css @takesfive @alex-misch @yollov
*.html @takesfive @alex-misch @yollov
*.sass @takesfive @alex-misch @yollov

*.go @agurinov

add backend compatible gitignore
  .gitignore
Owners: @yollov, @agurinov, @takesfive, @alex-misch

initial component and his playground
  .gitignore
  component/core/bundler.mjs
  component/core/watch-server.mjs
  component/docker-compose.yml
  component/index.mjs
  component/package-lock.json
  component/package.json
  component/utils/find-files.mjs
  component/watch-client.sh
  docker-compose.yml
  playground/src/app.js
  playground/src/bmp.conf.json
  playground/src/utils/bmp.conf.json
  playground/src/utils/utils.js
  playground/src/views/about/bmp.conf.json
  playground/src/views/about/component.js
  playground/src/views/community/bmp.conf.json
  playground/src/views/community/component.js
  playground/src/views/some.js
  watch-client.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

remove unusable files
  nc
  runWatcher
Owners: @yollov, @agurinov, @takesfive, @alex-misch

final bundler client-server arch
  bmpjs/core/bmplit.js
  bmpjs/router/bmprouter.js
  component/core/bundler.mjs
  component/core/watch-server.mjs
  component/docker-compose.yml
  component/drivers/babel.mjs
  component/drivers/rollup.mjs
  component/index.mjs
  component/package.json
  component/utils/find-files.mjs
  component/utils/fs.mjs
  component/watch-client.sh
  docker-compose.yml
  nc
  playground/bmp.conf.json
  playground/src/app.js
  playground/src/bmp.conf.json
  runWatcher
  watch-client.sh
Owners: @takesfive, @alex-misch, @yollov, @agurinov

release component build task
  component/core/bundler.mjs
  component/driver/babel.mjs
  component/driver/rollup.mjs
  component/drivers/babel.mjs
  component/drivers/rollup.mjs
  component/index.mjs
  component/launch.sh
  component/package.json
  component/task/build.mjs
  component/task/watch.mjs
  component/watch-client.new.sh
  component/watch-client.sh
  playground/bmp.conf.json
  playground/package-lock.json
  playground/package.json
  playground/src/app.js
  playground/src/assets/empty
  playground/src/bmp.conf.json
  playground/src/utils/bmp.conf.json
  playground/src/utils/utils.js
  playground/src/views/about/bmp.conf.json
  playground/src/views/community/bmp.conf.json
Owners: @takesfive, @alex-misch, @yollov, @agurinov

Migrated bmp-core to /bmp-core
  bmp-core/.editorconfig
  bmp-core/.gitignore
  bmp-core/bitbucket-pipelines.yml
  bmp-core/docker-compose.yml
  bmp-core/package.json
  bmp-core/readme.md
  bmp-core/src/bmp-app/bmp-app.js
  bmp-core/src/bmp-app/index.js
  bmp-core/src/bmp-css/bmp-css.js
  bmp-core/src/bmp-css/index.js
  bmp-core/src/bmp-storage/index.js
  bmp-core/src/bmp-virtual-dom-web-component/bmp-vd-webcomponent.js
  bmp-core/src/bmp-virtual-dom-web-component/bmpvd.js
  bmp-core/src/bmp-virtual-dom-web-component/index.js
  bmp-core/src/config.js
  bmp-core/src/index.html
  bmp-core/src/index.js
  bmp-core/src/shared/closest-polyfill.js
  bmp-core/src/shared/fetch-polyfill.js
  bmp-core/src/shared/http-request.js
  bmp-core/src/shared/object-utils.js
  bmp-core/src/shared/proxy-observe.js
  bmp-core/src/shared/resource-loaders.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

refactor & bundler final
  bmpjs/component/core/bundler.mjs
  bmpjs/component/core/watch-server.mjs
  bmpjs/component/driver/babel.mjs
  bmpjs/component/driver/rollup.mjs
  bmpjs/component/launch.sh
  bmpjs/component/package-lock.json
  bmpjs/component/package.json
  bmpjs/component/serve.mjs
  bmpjs/component/task/build.mjs
  bmpjs/component/task/watch.mjs
  bmpjs/component/utils/fs.mjs
  bmpjs/component/watch-client.new.sh
  component/driver/babel.mjs
  component/index.mjs
  component/task/watch.mjs
  component/watch-client.new.sh
  docker-compose.yml
  playground/bmp.conf.json
  playground/build.js
  playground/package-lock.json
  playground/package.json
  playground/src/bmp.conf.json
  playground/src/build.json
  playground/src/index.html
  playground/src/utils/bmp.conf.json
  playground/src/utils/build.json
  playground/src/utils/utils.js
  playground/src/views/about/bmp.conf.json
  playground/src/views/about/build.json
  playground/src/views/community/bmp.conf.json
  playground/src/views/community/build.json
Owners: @takesfive, @alex-misch, @yollov, @agurinov

Migrated ssr-bmpjs to /ssr-bmpjs
  ssr-bmpjs/.gitignore
  ssr-bmpjs/README.md
  ssr-bmpjs/bmp-remoute-script/index.mjs
  ssr-bmpjs/bmp-render/index.mjs
  ssr-bmpjs/docker-compose.yml
  ssr-bmpjs/index.mjs
  ssr-bmpjs/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Migrated bmp-core to /bmp-core
  bmp-core/.editorconfig
  bmp-core/.gitignore
  bmp-core/bitbucket-pipelines.yml
  bmp-core/docker-compose.yml
  bmp-core/package.json
  bmp-core/readme.md
  bmp-core/src/bmp-app/bmp-app.js
  bmp-core/src/bmp-app/index.js
  bmp-core/src/bmp-css/bmp-css.js
  bmp-core/src/bmp-css/index.js
  bmp-core/src/bmp-storage/index.js
  bmp-core/src/bmp-virtual-dom-web-component/bmp-vd-webcomponent.js
  bmp-core/src/bmp-virtual-dom-web-component/bmpvd.js
  bmp-core/src/bmp-virtual-dom-web-component/index.js
  bmp-core/src/config.js
  bmp-core/src/index.html
  bmp-core/src/index.js
  bmp-core/src/shared/closest-polyfill.js
  bmp-core/src/shared/fetch-polyfill.js
  bmp-core/src/shared/http-request.js
  bmp-core/src/shared/object-utils.js
  bmp-core/src/shared/proxy-observe.js
  bmp-core/src/shared/resource-loaders.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

refactor & bundler final
  bmpjs/component/core/bundler.mjs
  bmpjs/component/core/watch-server.mjs
  bmpjs/component/driver/babel.mjs
  bmpjs/component/driver/rollup.mjs
  bmpjs/component/launch.sh
  bmpjs/component/package-lock.json
  bmpjs/component/package.json
  bmpjs/component/serve.mjs
  bmpjs/component/task/build.mjs
  bmpjs/component/task/watch.mjs
  bmpjs/component/utils/fs.mjs
  bmpjs/component/watch-client.new.sh
  component/driver/babel.mjs
  component/index.mjs
  component/task/watch.mjs
  component/watch-client.new.sh
  docker-compose.yml
  playground/bmp.conf.json
  playground/build.js
  playground/package-lock.json
  playground/package.json
  playground/src/bmp.conf.json
  playground/src/build.json
  playground/src/index.html
  playground/src/utils/bmp.conf.json
  playground/src/utils/build.json
  playground/src/utils/utils.js
  playground/src/views/about/bmp.conf.json
  playground/src/views/about/build.json
  playground/src/views/community/bmp.conf.json
  playground/src/views/community/build.json
Owners: @takesfive, @alex-misch, @yollov, @agurinov

Migrated ssr-bmpjs to /ssr-bmpjs
  ssr-bmpjs/.gitignore
  ssr-bmpjs/README.md
  ssr-bmpjs/bmp-remoute-script/index.mjs
  ssr-bmpjs/bmp-render/index.mjs
  ssr-bmpjs/docker-compose.yml
  ssr-bmpjs/index.mjs
  ssr-bmpjs/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

refactor bundler
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/core/watch-server.mjs
  bmpjs/bundler/driver/babel.mjs
  bmpjs/bundler/driver/rollup.mjs
  bmpjs/bundler/launch.sh
  bmpjs/bundler/package-lock.json
  bmpjs/bundler/package.json
  bmpjs/bundler/serve.mjs
  bmpjs/bundler/task/build.mjs
  bmpjs/bundler/task/watch.mjs
  bmpjs/bundler/utils/fs.mjs
  bmpjs/bundler/watch-client.new.sh
  playground/bmpresolver.mjs
  playground/build.js
  playground/build.mjs
  playground/package-lock.json
  playground/package.json
  playground/serve.js
Owners: @takesfive, @alex-misch, @yollov, @agurinov

refactor repos migration
  bmpjs/bmp-core/.editorconfig
  bmpjs/bmp-core/.gitignore
  bmpjs/bmp-core/bitbucket-pipelines.yml
  bmpjs/bmp-core/docker-compose.yml
  bmpjs/bmp-router/.babelrc
  bmpjs/bmp-router/.gitignore
  bmpjs/bmp-router/aws-task.js
  bmpjs/bmp-router/bitbucket-pipelines.yml
  bmpjs/bmp-router/docker-compose.yml
  bmpjs/bmp-router/package.json
  bmpjs/bmp-router/serve.py
  bmpjs/core/bmplit.js
  bmpjs/router/bmprouter.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

add circleci deploy config
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

add bundler loader & update dependencies
  .gitignore
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/package.json
  playground/bmpresolver.mjs
  playground/build.mjs
  playground/install.mjs
  playground/package-lock.json
  playground/package.json
  playground/serve.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circeci) add bmpjs core and router to deploy
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(bundler) add build.json support, fix install dependecy scripts, refactor buildfile
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/driver/rollup.mjs
  playground/build.mjs
  playground/install.mjs
  playground/package-lock.json
  playground/package.json
  playground/src/build.json
  playground/src/utils/build.json
  playground/src/views/about/build.json
  playground/src/views/community/build.json
Owners: @takesfive, @alex-misch, @yollov, @agurinov

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

Update config.yml
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

test perms
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circleci) resolve conflict
  .circleci/config.yml
  bmpjs/bundler/driver/babel.mjs
  bmpjs/playground/build.mjs
  bmpjs/playground/src/app.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(bundler) release build task
  .circleci/config.yml
  bmpjs/bundler/driver/rollup.mjs
  bmpjs/playground/build.mjs
  bmpjs/playground/install.mjs
  bmpjs/playground/package-lock.json
  bmpjs/playground/package.json
  bmpjs/playground/src/app.js
  bmpjs/playground/src/assets/empty
  bmpjs/playground/src/build.json
  bmpjs/playground/src/index.html
  bmpjs/playground/src/utils/build.json
  bmpjs/playground/src/utils/utils.js
  bmpjs/playground/src/views/about/build.json
  bmpjs/playground/src/views/about/component.js
  bmpjs/playground/src/views/community/build.json
  bmpjs/playground/src/views/community/component.js
  bmpjs/playground/src/views/some.js
  docker-compose.yml
  playground/build.mjs
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circleci) test deploy
  bmpjs/bmp-core/package.json
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(bundler) add beatufy syntax in describe job & add callback in bundler
  bmpjs/bundler/core/bundler.mjs
  bmpjs/playground/build.mjs
  bmpjs/playground/install.mjs
  bmpjs/playground/src/app.js
Owners: @takesfive, @alex-misch, @yollov

fix(bundler) execute fn is now async
  bmpjs/bundler/core/bundler.mjs
Owners: @takesfive, @alex-misch, @yollov

feat(circleci) test config & bundler build
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circleci) add deploy & artifacts
  .circleci/config.yml
  bmpjs/bmp-core/package-lock.json
  bmpjs/bmp-core/package.json
  bmpjs/bmp-core/src/bmp-lit/bmp-lit-web-component.js
  bmpjs/bmp-router/coverage/clover.xml
  bmpjs/bmp-router/coverage/coverage-final.json
  bmpjs/bmp-router/coverage/lcov-report/base.css
  bmpjs/bmp-router/coverage/lcov-report/index.html
  bmpjs/bmp-router/coverage/lcov-report/prettify.css
  bmpjs/bmp-router/coverage/lcov-report/prettify.js
  bmpjs/bmp-router/coverage/lcov-report/sort-arrow-sprite.png
  bmpjs/bmp-router/coverage/lcov-report/sorter.js
  bmpjs/bmp-router/coverage/lcov.info
  bmpjs/bmp-router/package-lock.json
  bmpjs/bmp-router/package.json
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/utils/fs.mjs
  bmpjs/playground/src/app.js
  bmpjs/playground/src/index.html
  bmpjs/playground/src/utils/utils.js
  docker-compose.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

test bundler
  .circleci/config.yml
  bmpjs/bmp-core/build.mjs
  bmpjs/bmp-core/install.mjs
  bmpjs/bmp-core/package.json
  bmpjs/bmp-core/src/build.json
  bmpjs/bmp-core/src/config.js
  bmpjs/bmp-core/src/index.html
  bmpjs/bmp-router/build.mjs
  bmpjs/bmp-router/install.mjs
  bmpjs/bmp-router/package-lock.json
  bmpjs/bmp-router/package.json
  bmpjs/bmp-router/src/build.json
  bmpjs/bmp-router/src/index.html
  bmpjs/bundler/core/bundler.mjs
  bmpjs/bundler/core/livereload.mjs
  bmpjs/bundler/core/server.mjs
  bmpjs/bundler/launch.sh
  bmpjs/bundler/package-lock.json
  bmpjs/bundler/package.json
  bmpjs/bundler/serve.mjs
  bmpjs/bundler/task/babel.mjs
  bmpjs/bundler/task/build.mjs
  bmpjs/bundler/task/watch.mjs
  bmpjs/bundler/utils/logger.mjs
  bmpjs/playground/build.mjs
  bmpjs/playground/src/index.html
  bmpjs/playground/src/views/some.js
  docker-compose.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

feat(bmpjs) add bmplit to core exports
  bmpjs/bmp-core/package-lock.json
  bmpjs/bmp-core/package.json
  bmpjs/bmp-core/src/bmp-lit/bmp-lit-web-component.js
  bmpjs/bmp-core/src/index.js
  bmpjs/playground/build.mjs
  bmpjs/playground/src/app.js
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circleci) temporary remove deploy task
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix(circleci) add npm install command to build jobs
  .circleci/config.yml
Owners: @yollov, @agurinov, @takesfive, @alex-misch

fix shell scripts
  .scripts/bench.sh
  .scripts/build.sh
  .scripts/fmt.sh
  .scripts/profile.sh
  .scripts/test.sh
Owners: @yollov, @agurinov, @takesfive, @alex-misch

move log under monorepo
  base/cli/actions.go
  base/cli/log.go
  base/server/dispatcher/log.go
  base/server/log.go
  base/tools/log.go
  base/tools/poller/heap.go
  ci/cli/actions.go
  ci/cli/log.go
  ci/graph/graph.go
  ci/session/session_test.go
  ci/step/job.go
  tools/log/README.md
  tools/log/logger.go
  tools/log/logger_test.go
  tools/log/main.go
  tools/log/tools.go
  tools/log/utils_test.go
Owners: @agurinov, @yollov, @takesfive, @alex-misch
